[submodule "shinmini-server"]
	path = shinmini-server
	url = git@github.com:ShinMini/shinmini-server.git
[submodule "shinmini-svelte"]
	path = shinmini-svelte
	url = git@github.com:ShinMini/shinmini-svelte.git
