# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
coverage
coverage/*

node_modules
dist
dist-ssr
*.local

# Deploy
public
.firebase
dist
dist-electron

# Editor directories and files
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Security
*.pem
.env
.env.*

# FIREBASE
CHANGELOG.md

# jest
jest.config.js
.firebaserc

scripts
*.d.ts
